@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {}

/* USAR PONTO NO INICIO QUANDO FOR CLASSE*/
.banner1 {
    text-align: center;
    color: rgb(8, 10, 61);
    background: rgb(0, 0, 0);
    /*background: rgb(15, 5, 90);*/
    background-image: url(img/fundo.jpg);
    background-size: cover;
    height: 300px;
    font-family: "montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container_menu {

    /*COMANDO PARA DEIXAR O ESPAÇO ENTRE AS DUAS DIVS FLEX*/
    justify-content: space-between;
    position: fixed;
    background-color: white;
    /*COMANDO DE DEIXAR AS DIVS FLEXIVEIS*/
    display: flex;


}

/* USAR JOGO DA VELHA NO INICIO QUANDO FOR ID*/
#menu {
    text-align: right;
    padding-right: 20px;
    color: black;
    /*Topo x Direita x Base x Esquerda*/
    /* padding: 20px 10px 20px 10px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: block;
}

#logo {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*CLASSE CRIADA PARA AGRUPAR AS DIVS DE PASSAGEM*/
.container_passagens {
    /*COMANDO DE DEIXAR AS DIVS FLEXIVEIS*/
    display: inline-block;
    /*ESPAÇAMENTO DAS LATERAIS DA DIV*/
    padding: 10px;
    /*COMANDO DE DAR ESPAÇAMENTO ENTRE AS DIVS*/
    gap: 10px;

}

#bloco_passagem1 {

    text-align: center;
    background-color: rgb(199, 242, 186);
    border-right: 10px;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    /*Tamanho maximo de expansão na tela*/
    max-width: 800px;
    min-width: 250px;
    /*Podemos importar fontes do https://fonts.google.com/ - Importa depois usa*/
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    display: inline-block;

}

#bloco_passagem2 {

    text-align: center;
    background-color: rgb(240, 242, 186);
    border-right: 10px;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    /*Tamanho maximo de expansão na tela*/
    max-width: 250px;
    min-width: 250px;
    /*Podemos importar fontes do https://fonts.google.com/ - Importa depois usa*/
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    display: inline-block;

}

/* USEI O "P" PARA INDICAR QUE A MODIFICAÇÃO É EM PARAGRAFO*/
p {
    /*ESPACO NAS LATERIAS DO TEXTO*/
    margin-right: 20px;
    margin-left: 20px;
    /*ESPAÇO NO INICIO DO TEXTO*/
    text-indent: 0px;
    /*ALINHAMENTO DE TEXTO*/
    text-align: justify;
    /*ESPACO ENTRE LETRAS*/
    letter-spacing: 1px;
    /*ESPACO ENTRE LINHAS*/
    line-height: 1.1;
    /*ESPACO ENTRE PALAVRAS*/
    word-spacing: 10px;
}

/* USEI O "A" PARA INDICAR QUE A MODIFICAÇÃO É EM PARAGRAFO*/
a {
    /*CANCELAR DECORAÇÃO DE TEXTO - SUBLINHADO DE LINK*/
    text-decoration: none;
}

.rodape {
    text-align: center;
    color: gray;

}

.container_quem {
    border: 1px solid black;

}

.container_img {
    float: left;
    margin-right: 20px;
}